In [4]:
import pandas as pd
from py_clob_client.client import ClobClient

In [5]:
client = ClobClient("https://clob.polymarket.com/")

In [10]:
all_histories = pd.read_parquet("first_token_histories.parquet")
all_histories

                                                                        price
94902589775014439849762702665199610280704168297... 2023-02-13 15:16:53   0.50
                                                   2023-02-13 15:19:00   0.50
                                                   2023-02-13 15:20:33   0.50
                                                   2023-02-13 15:21:36   0.78
                                                   2023-02-13 15:22:26   0.58
...                                                                       ...
49372748800278861838074796223447366537099251510... 2024-08-25 15:25:01   0.13
                                                   2024-08-25 15:26:01   0.13
                                                   2024-08-25 15:27:01   0.13
                                                   2024-08-25 15:28:01   0.13
                                                   2024-08-25 15:29:01   0.13

[535633 rows x 1 columns]

In [7]:
markets_info_df = pd.read_parquet("epl_markets.parquet")
markets_info_df[markets_info_df.closed]

markets_info_df

,winner,loser,is_draw,conditon_id,question_id,description,end_date_iso,game_start_time,closed,first_token_id,first_token_outcome,second_token_id,second_token_outcome
0,Liverpool,Everton,False,0x9420efd74abc9c507487b411f3fcf0fcad6122757fbe...,0xdfaad7e3cd6cc8bb58ec20bcdc40394cea542e080afd...,In the upcoming Premier League soccer match sc...,2023-02-13T00:00:00Z,2023-02-13T20:00:00Z,True,9490258977501443984976270266519961028070416829...,Yes,2687322486988912113416014338560760285887290498...,No
1,Manchester City,Arsenal,False,0x77d4a177ef2cd46573688aff848797473390923797ab...,0x72bdf23493c55ef5159d813965c20b5372232375c7d3...,In the upcoming Premier League soccer match sc...,2023-02-15T00:00:00Z,2023-02-15T19:30:00Z,True,9714838603458109642002379288377050750163273974...,Yes,8213779654606940080772117066044229724431683031...,No
2,Brentford,Crystal Palace,False,0x1e1a3ecf6771f0cece8a8f12bf399cea863646b01c9b...,0x4dfeebf9718e1e16993e4eb0cf6de0559f76cb34deb6...,In the upcoming Premier League soccer match sc...,2023-02-17T00:00:00Z,2023-02-18T16:00:00Z,True,4756229773079825466964737831359906133840911025...,Yes,6153572014446065346537931593686191287876519137...,No
3,Arsenal,Aston Villa,False,0xe10d50d9e49d0764ee1588622b9820552e957dc3e956...,0xe0d758110fa407e5ee581159107dd4f7bd95633b415d...,In the upcoming Premier League soccer match sc...,2023-02-17T00:00:00Z,2023-02-18T13:30:00Z,True,9525744807227897516502676603230654240525125126...,Yes,3625781480993561712002802958811250817505964879...,No
4,Everton,Leeds United,False,0xd9561e6a65152b99a312807d42d0f5f6cb5ef0114a87...,0xbc41bb12b02d02813d356ca528b44ace7792152918f1...,In the upcoming Premier League soccer match sc...,2023-02-17T00:00:00Z,2023-02-18T16:00:00Z,True,4378454905073590929747099294184775842520389865...,Yes,6820097321154871537598972013836820358338945101...,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,Tottenham Hotspur,Newcastle United,False,,,This market refers to the EPL match between Ne...,None,2024-09-01T08:30:00Z,False,,,,
178,Newcastle United,Tottenham Hotspur,True,,,This market refers to the EPL match between Ne...,None,None,False,,,,
179,Manchester United,Liverpool,False,,,This market refers to the EPL match between Ma...,None,2024-09-01T11:00:00Z,False,,,,
180,Liverpool,Manchester United,False,,,This market refers to the EPL match between Ma...,None,2024-09-01T11:00:00Z,False,,,,
181,Liverpool,Manchester United,True,,,This market refers to the EPL match between Ma...,None,2024-09-01T11:00:00Z,False,,,,